<article class="entry">
  <p>
    <h3>
      <%= link_to(entry.title, entry.url) %>
    </h3>
    <span class="bookmark-count">
      <%= link_to "#{entry.bookmark_count}users", "http://b.hatena.ne.jp/entry/#{entry.url}" %>
    </span>
  </p>
</article>
