@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin: 20px;
}

span.bookmark-count {
  background-color: lavenderblush;
  color: red;
  a {
    color: red;
  }
}

article.entry {
  margin: 4px;
  padding: 4px;
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
}

a.selected {
  background-color: #dddddd;
}